<% layout("layout/boilerplate.ejs") %>

    <body>

        <div class="show">
            <div class="row">
            <%for(let ticket of allTickets) {%>
                    <div class="card mt-2">
                        <div class="card-body">

                            <h5 class="card-title">
                               <b> Name : <%= ticket.name %> </b> 
                            </h5>

                            <p class="card-text">
                                 City : <b> <%= ticket.cityName %> </b> 
                            </p>

                            <p class="card-text">
                                 Mode of Pay : <b> <%= ticket.mode %> </b> 
                            </p>

                            <p class="card-text">
                                 Person : <b> <%= ticket.person %> </b> 
                            </p>

                        </div>

                    </div>
                    <% } %>
                </div>
        </div>

    </body>